<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vgparts

    RewriteRule ^public/ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

    <FilesMatch "^(?!index\.php$).+\.php$">
        Order Deny,Allow
        Deny from all
    </FilesMatch>
</IfModule>



